.banner-background {
  background: url(../assets/image/hero-bg.png);
  height: 80vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  .imgg {
    position: absolute;
    left: 5%;
    top: 20%;
    img {
      animation: move 3s linear infinite;
      @keyframes move {
        from{}
        to {
          transform: rotate(1turn);
        }
      }
    }
  }
  .banner-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .banner-menu-left {
      .flex-text {
        display: flex;
        align-items: center;
        gap: 2em;
        img {
          width: 30px;
          height: 30px;
        }
        span {
          font-size: 26px;
          color: #fff;
          font-weight: 700;
        }
      }
      .flex-cont {
        display: flex;
        align-items: center;
        gap: 2em;
        margin-top: 50px;
        .h-line {
          width: 8px;
          height: 180px;
          background: #37bbff;
        }
        .content-box {
          h1 {
            font-size: 80px;
            color: #fff;
            font-weight: 800;
          }
        }
      }
      p {
        margin-top: 30px;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        left: 1;
      }
      .btn {
        width: 210px;
        height: 70px;
        background: #37bbff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease-in-out;
        gap: 0.5em;
        margin-top: 30px;
        border-radius: 5px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        &::after {
          content: "";
          left: 0;
          // top: 0;
          bottom: 0;
          background: #00247e;
          transition: all 0.3s ease-in-out;
          position: absolute;
          z-index: -1;
          width: 0%;
          height: 10%;
          border-radius: 5px;
        }
        &:hover::after {
          width: 100%;
          height: 100%;
        }

        span {
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          text-transform: capitalize;
        }

        .myicon {
          color: #fff;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  .im{
    position: absolute;
    right: 20%;
    top: 15%;
    img{
        animation: up 4.1s linear infinite;
        @keyframes up {
         0% {
            transform: translateY(-40px);
         }
         50% {
            transform: translateY(0px);
         }
         100% {
            transform: translateY(-40px);
         }
        }
    }
    
  }
  .imn{
    position: absolute;
    right: 10%;
    top: 50%;
    img{
        animation: up 5s linear infinite;
        @keyframes up {
         0% {
            transform: translateY(-40px);
         }
         50% {
            transform: translateY(0px);
         }
         100% {
            transform: translateY(-40px);
         }
        }
    }
    
  }
  .imm{
    position: absolute;
    right: 11%;
    top: 25%;
    img{
        animation: up 3s linear infinite;
        @keyframes up {
         0% {
            transform: translateY(-40px);
         }
         50% {
            transform: translateY(0px);
         }
         100% {
            transform: translateY(-40px);
         }
        }
    }
    
  }
  .ikk{
    position: absolute;
    right: 47%;
    top: 58%;
    img{
        animation: up 4s linear infinite;
        @keyframes up {
         0% {
            transform: translateY(-40px);
         }
         50% {
            transform: translateY(0px);
         }
         100% {
            transform: translateY(-40px);
         }
        }
    }
    
  }
  .imc{
    position: absolute;
    right: 35%;
    top: 15%;
    img{
        animation: rot 9s linear infinite;
        @keyframes rot {
        to{
          transform: rotate(1turn);
        }
        }
    }
    
  }
}
