.Contact-section {
  height: auto;
  background: #fff;
  // padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .main {
    position: relative;
    .contact-main-box {
      height: 670px;
      margin: auto;
      width: 60%;
      padding: 70px;
      margin-top: -80px;
      background: #ffffff;
      // padding: 70px 70px 70px 70px;
      border-radius: 10px;
      box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15);
      position: relative;
      h1 {
        text-align: center;
        font-size: 55px;
        font-weight: 600;
        color: #000;
      }
      .input-box {
        display: flex;
        gap: 3em;
        margin-bottom: 30px;
        margin-top: 30px;
        // flex-direction: column;
        .ipA {
          flex: 1;
          input {
            width: 100%;
            height: 60px;
            padding-left: 15px;
            border: 1px solid #e6e6e6;
            color: #495057;
            border-radius: 5px;
            outline: none;

            font-size: 18px;
            &:hover {
              border: 1px solid blue !important;
              outline: none;
            }
          }
        }
        .ipB {
          flex: 1;

          input {
            width: 100%;
            height: 60px;
            padding-left: 15px;
            border: 1px solid #e6e6e6;
            color: #495057;
            border-radius: 5px;
            outline: none;

            font-size: 18px;
            &:hover {
              border: 1px solid blue !important;
              outline: none;
            }
          }
        }
      }
      .text-area {
        textarea {
          width: 100%;
          border: 1px solid #e6e6e6;
          padding-left: 30px;
          padding-top: 30px;
          font-size: 18px;
          outline: none;

          &:hover {
            border: 1px solid blue !important;
            outline: none;
          }
        }
      }
      .btn{
        height: 50px;
        width: 200px;
        margin: auto;
        background: #0c5adb;
        color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 60px;
        span{
          font-size: 20px;
          text-transform: capitalize;
          cursor: pointer;
        }
      }
    }
  }
}
