.portfolio-background {
  height: auto;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  .portfolio-top {
    display: flex;
    align-items: center;
    // justify-content: center;
    .port-top-content {
      .top-box {
        background-color: #ffffff;
        width: 200px;
        height: 42px;
        border-radius: 4px;
        box-shadow: 0px 10px 20px #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          letter-spacing: 0;
          color: #0c5adb;
          font-size: 20px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
      .port-top-flex {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 13em;
        margin-top: 50px;
        .port-top-flex-a {
          h1 {
            font-size: 50px !important;
            letter-spacing: 0;
            font-weight: 500;
            color: #232323;
            span {
              color: #0c5adb !important;
            }
          }
        }
        .port-top-flex-b {
          display: flex;
          align-items: center;
          gap: 1em;
          margin-top: -40px;
          .port-card {
            font-size: 16px;
            line-height: 1;
            transition: all 0.3s ease;
            cursor: pointer;
            width: auto;
            padding: 13px;
            height: 30px;
            letter-spacing: 2px;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0px 10px 20px #ccc;
              transition: all 0.5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover{
                color: #ffffff;
                background: linear-gradient(to left, #2475FC, #1129B9);
            }
            &:hover span{
                color: #fff;

            }
            span{
          text-transform: capitalize;
          font-weight: 500;
      font-size: 20px;
      color: #616161;
            }
          }
        }
      }
    }
  }
}
