.portfolio-background {
  height: auto;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  .portfolio-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    .port-top-content {
      .top-box {
        background-color: #ffffff;
        width: 200px;
        height: 42px;
        border-radius: 4px;
        box-shadow: 0px 10px 20px #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          letter-spacing: 0;
          color: #0c5adb;
          font-size: 20px;
          font-weight: 600;
          text-transform: capitalize;
        }
      }
      .port-top-flex {
        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap: 13em;
        margin-top: 50px;
        .port-top-flex-a {
          h1 {
            font-size: 50px !important;
            letter-spacing: 0;
            font-weight: 500;
            color: #232323;
            span {
              color: #0c5adb !important;
            }
          }
        }
        .port-top-flex-b {
          display: flex;
          align-items: center;
          gap: 1em;
          margin-top: -40px;
          .port-card {
            font-size: 16px;
            line-height: 1;
            transition: all 0.3s ease;
            cursor: pointer;
            width: auto;
            padding: 13px;
            height: 30px;
            letter-spacing: 2px;
            border-radius: 4px;
            background-color: #ffffff;
            box-shadow: 0px 10px 20px #ccc;
            transition: all 0.5s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
              color: #ffffff;
              background: linear-gradient(to left, #2475fc, #1129b9);
            }
            &:hover span {
              color: #fff;
            }
            span {
              text-transform: capitalize;
              font-weight: 500;
              font-size: 20px;
              color: #616161;
            }
          }
        }
      }
    }
  }
  .portfolio-down {
    .portfolio-down-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 3em;
      margin-bottom: 30px;
      .card {
        background: #ffffff;
        box-shadow: 0px 10px 20px #ccc;
        height: 470px;
        width: 380px;
        padding-right: 15px;
        padding: 25px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        &:hover h1 {
          text-decoration: underline;
          color: #2475fc;
        }
        .img {
          height: 310px;
          width: 100%;
          background-repeat: no-repeat !important;
          background-size: cover !important;
          background-position: center !important;
          position: relative;
          border-radius: 10px;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          overflow: hidden;

          &::after {
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
            border-radius: 10px;
            background-color: rgba(4, 96, 248, 0.6);
            height: 0%;
            transition: all 0.5s ease-in-out;
          }
          &:hover::after {
            width: 100%;
            height: 100%;
          }
          &:hover .around {
            margin-top: 10px;
          }
          .around {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: #ffffff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -390px;
            transition: all 0.5s ease-in-out;
          }
        }
        .card-content {
          .flex-cont {
            display: flex;
            align-items: center;
            gap: 1em;
            margin-top: 30px;
            margin-bottom: 40px;
            span #img {
              width: 30px !important;
              height: 30px !important;
            }
            .text {
              font-size: 25px;
              color: #2475fc;
              font-weight: 600;
            }
            h1 {
              color: #000;
              font-size: 30px !important;
              font-weight: 700 !important;
            }
          }
        }
      }
    }
  }
}
