@mixin flex-wra {
  flex-wrap: wrap;
}
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .navbar {
    display: none;
    .navbar-menu {
      display: none;
    }
  }
  .top-nav {
    display: none;
  }
  .banner-background {
    height: auto;
    background-attachment: none;
    .banner-menu {
      flex-wrap: wrap;
      .banner-menu-left {
        .flex-text {
          span {
            font-size: 20px;
          }
        }
        .flex-cont {
          .h-line {
            height: 70px;
          }
          .content-box {
            h1 {
              font-size: 20px;
            }
          }
        }
        p {
          font-size: 15px !important;
        }
      }
      .banner-menu-right {
        .main-logo {
          img {
            max-width: 100%;
          }
        }
      }
    }
    .imgg {
      display: none;
    }
    .imc {
      top: 58%;
      left: 14%;
    }
    .imm {
      top: 58%;
      right: 20%;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .im {
      top: 53%;
      right: 30%;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  .feature-background {
    height: auto;
    .feature-top {
      .top-content {
        h1 {
          font-size: 40px !important;
        }
      }
    }
    .feature-down {
      flex-wrap: wrap;
      .card {
        max-width: 100%;

        .card-content {
          h1 {
            font-size: 20px !important;
          }
          p {
            font-size: 15px !important;
          }
        }
        .card-image {
          img {
            max-width: 100% !important;
          }
        }
      }
    }
  }
  .about-section {
    .about-menu-top {
      @include flex-wra();
      .top-img {
        .inn {
          img {
            max-width: 100% !important;
          }
        }
        .inn {
          img {
            display: none !important;
          }
        }
        .mid {
          img {
            width: 280px !important;
            height: 280px !important;
          }
        }
        #vv {
          max-width: 100% !important;
        }
      }
      .text {
        p {
          font-size: 30px !important;
        }
      }
      .flex-content {
        p {
          font-size: 14px !important;
          line-height: 1.7 !important;
        }
      }
    }
    .last-box {
      display: flex !important;
      align-items: center !important;
      gap: 2em !important;
      flex-wrap: wrap !important;
    }
    .about-menu-down {
      @include flex-wra();
      max-width: 100%;
      .down-flex-b {
        @include flex-wra();
        max-width: 100%;
      }
    }
  }
  .service-section {
    .service-section-top {
      p {
        font-size: 25px !important;
        // max-width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 17px !important;
      }
    }
    .service-section-down {
      .main-box {
        .card-box {
          flex-wrap: wrap !important;
          flex-direction: column;
          .mycard {
            max-width: 100% !important;
          }
        }
        .card-box-b {
          flex-wrap: wrap !important;
          flex-direction: column;
          .mycard {
            max-width: 100% !important;
          }
        }
      }
    }

    
  }
  .branding-menu {
    flex-wrap: wrap;

    .mylogo {
      max-width: 100% !important;
      // width: 400px !important;
      // height: 400px !important;
    }
    .text-box {
      margin: auto;
    }
    p {
      font-size: 30px !important;
      text-align: center;
    }
    h4 {
      font-size: 15px !important;
      text-align: center !important;
      // line-height: 0 !important;
      // max-width: 100% !important;
    }
  }
  .edit {
    .edit-flex {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 7em !important;
      margin-left: -90px;
      h1 {
        margin-left: -40px;
      }
    }
    .edit-line {
      width: 350px !important;
      margin: auto;
    }
  }
  .edit-a {
    .edit-flex {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 15em !important;
      margin-left: -90px;
      h1 {
        margin-left: 60px;
      }
    }
    .edit-line-a {
      width: 350px !important;
      margin: auto;
    }
  }
  .edit-c {
    .edit-flex {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 13em !important;
      margin-left: -90px;
      h1 {
        margin-left: 20px;
      }
    }
    .edit-line-c {
      width: 350px !important;
      margin: auto;
    }
  }

  .portfolio-background{
    .top-box{
      margin: auto ;
    }
    .port-top-flex-b{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap !important;
      max-width: 100%;
    }
    .port-top-flex{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: wrap;
       .port-top-flex-a{
        text-align: center !important;
        h1{
          font-size: 30px !important;
        }
      }
    }
  }
.testi-background{
  position: relative !important;

      .image{
        max-width: 100% !important;
      }
    .round{
      top: 50% !important;
      max-width:100% !important;
      .round-box{
        width: 160px !important;
        height: 160px !important;
      }
    }
    .testi-menu-content{
      h1{
        font-size: 25px !important;
        // max-width: 100%;
      }
      p{
        font-size: 19px !important;
      }
      h6{
        font-size: 17px !important;
      }
      .flex-content{
    flex-wrap: wrap !important;
    display: flex;
    align-items: center;
    justify-content: center;
    .flex-a{
      flex-wrap: wrap !important;
      display: flex;
      align-items: center;
      justify-content: center;
    }
      }
    }
}
.test-menu{
  flex-wrap: wrap !important;
  display: flex;
  flex-direction: column;
}

.blog-top{
  flex-wrap: wrap !important;
  gap: 1em !important;
  .blog-top-content-a{
    h1{
      font-size: 30px !important;
    }
  }
}
  .blog-down{
    .card-flex{
      flex-wrap:  wrap !important;
      max-width: 100% !important;
      .card{
        .card-body{
          a{
            font-size: 20px !important;
          }
          p{
            font-size: 15px !important;
          }
          .card-main-box{
            display: flex;
            align-items: center;
            gap: 3em !important;
            margin-top: 20px;
          }
        }
      }
    }
  }
.call-content-menu{
  .call-content{
    h1{
      font-size: 25px !important;
    }
  }
}
.menu-sec-content{
  h1{
    font-size: 50px !important;
    text-align: center;
    margin-bottom: 18px;
  }
  .flex-main {
   a{
    font-size: 15px !important;
   }
  }
}
.Footer-top-a{
  display: flex !important;
      align-items: center !important; 
      justify-content: center !important;
      gap: 4em;
      flex-wrap: wrap;

}
.Footer-top-b{
  display: flex !important;
      align-items: center !important; 
      justify-content: center !important;
      gap: 4em;
      flex-wrap: wrap;
}

.Footer-topRight{
  margin-left: 60px;
}

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .menu-sec-content{
    h1{
      font-size: 60px !important;
      text-align: center;
      margin-bottom: 18px;
    }
    .flex-main {
     a{
      font-size: 15px;
     }
    }
  }

  .navbar {
    display: none !important;
    .navbar-menu {
      display: none;
    }
  }
  .top-nav {
    display: none !important;
  }
  .banner-background {
    height: auto;
    background-attachment: none;
    .banner-menu {
      flex-wrap: wrap;
      .banner-menu-left {
        .flex-text {
          span {
            font-size: 20px;
          }
        }
        .flex-cont {
          .h-line {
            height: 90px;
          }
          .content-box {
            h1 {
              font-size: 25px;
            }
          }
        }
        p {
          font-size: 17px !important;
        }
      }
      .banner-menu-right {
        .main-logo {
          img {
            max-width: 100%;
          }
        }
      }
    }
    .imgg {
      display: none;
    }
    .imc {
      top: 58%;
      left: 14%;
    }
    .imm {
      top: 58%;
      right: 20%;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .im {
      top: 53%;
      right: 30%;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  .feature-background {
    height: auto;
    .feature-top {
      .top-content {
        h1 {
          font-size: 43px !important;
        }
      }
    }
    .feature-down {
      flex-wrap: wrap;
      max-width: 100%;
    }
    .card {
      max-width: 100%;

      .card-content {
        h1 {
          font-size: 20px !important;
        }
        p {
          font-size: 15px !important;
        }
      }
      .card-image {
        img {
          max-width: 100% !important;
        }
      }
    }
  }
  .about-section {
    .about-menu-top {
      @include flex-wra();
      .top-img {
        .inn {
          img {
            max-width: 100% !important;
          }
        }
        .inn {
          img {
            display: none !important;
          }
        }
        .mid {
          img {
            width: 280px !important;
            height: 280px !important;
          }
        }
        #vv {
          max-width: 100% !important;
        }
      }
      .text {
        p {
          font-size: 30px !important;
        }
      }
      .flex-content {
        p {
          font-size: 14px !important;
          line-height: 1.7 !important;
        }
      }
    }
    .last-box {
      display: flex !important;
      align-items: center !important;
      gap: 2em !important;
      flex-wrap: wrap !important;
    }
    .about-menu-down {
      @include flex-wra();
      max-width: 100%;
      .down-flex-b {
        @include flex-wra();
        max-width: 100%;
      }
    }
  }

  .service-section {
    .service-section-top {
      p {
        font-size: 30px !important;
        // max-width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 17px !important;
      }
    }
    .service-section-down {
      .main-box {
        .card-box {
          flex-wrap: wrap !important;
          flex-direction: column;
          .mycard {
            max-width: 100% !important;
          }
        }
        .card-box-b {
          flex-wrap: wrap !important;
          flex-direction: column;
          .mycard {
            max-width: 100% !important;
          }
        }
      }
    }
  }
  .branding-menu {
    flex-wrap: wrap;

    .mylogo {
      max-width: 100% !important;
      // width: 400px !important;
      // height: 400px !important;
    }
    .text-box {
      margin: auto;
    }
    p {
      font-size: 33px !important;
      text-align: center;
    }
    h4 {
      font-size: 17px !important;
      text-align: center !important;
      // line-height: 0 !important;
      // max-width: 100% !important;
    }
  }
  .portfolio-background{
    .top-box{
      margin: auto ;
    }
    .port-top-flex-b{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap !important;
      max-width: 100%;
    }
    .port-top-flex{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: wrap;
       .port-top-flex-a{
        text-align: center !important;
        h1{
          font-size: 40px !important;
        }
      }
    }
  }
  .testi-background{
    position: relative !important;
  
        .image{
          max-width: 100% !important;
        }
      .round{
        top: 50% !important;
        max-width:100% !important;
        .round-box{
          width: 160px !important;
          height: 160px !important;
        }
      }
      .testi-menu-content{
        h1{
          font-size: 35px !important;
          // max-width: 100%;
        }
        p{
          font-size: 23px !important;
        }
        h6{
          font-size: 20px !important;
        }
        .flex-content{
      flex-wrap: wrap !important;
      display: flex;
      align-items: center;
      justify-content: center;
      .flex-a{
        flex-wrap: wrap !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        }
      }
  }
  .blog-top{
    flex-wrap: wrap !important;
    gap: 1em !important;
    .blog-top-content-a{
      h1{
        font-size: 30px !important;
      }
    }
  }
    .blog-down{
      .card-flex{
        flex-wrap:  wrap !important;
        max-width: 100% !important;
        .card{
          .card-body{
            a{
              font-size: 23px !important;
            }
            p{
              font-size: 17px !important;
            }
            .card-main-box{
              display: flex;
              align-items: center;
              gap: 3em !important;
              margin-top: 20px;
            }
          }
        }
      }
    }
  
}  .call-content-menu{
  .call-content{
    h1{
      font-size: 28px !important;
    }
  }
  .menu-sec-content{
    h1{
      font-size: 60px !important;
      text-align: center;
      margin-bottom: 18px;
    }
    .flex-main {
     a{
      font-size: 15px;
     }
    }
  }
  
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .menu-sec-content{
    h1{
      font-size: 60px !important;
      text-align: center;
      margin-bottom: 18px;
    }
    .flex-main {
     a{
      font-size: 15px;
     }
    }
  }
  .navbar {
    display: none;
    .navbar-menu {
      display: none;
    }
  }
  .top-nav {
    display: none;
  }

  .banner-background {
    height: auto;
    background-attachment: none;
    .banner-menu {
      flex-wrap: wrap;
      .banner-menu-left {
        .flex-text {
          span {
            font-size: 20px;
          }
        }
        .flex-cont {
          .h-line {
            height: 90px;
          }
          .content-box {
            h1 {
              font-size: 45px;
            }
          }
        }
        p {
          font-size: 25px !important;
        }
      }
      .banner-menu-right {
        .main-logo {
          img {
            max-width: 100%;
          }
        }
      }
    }
    .imgg {
      display: none;
    }
    .imc {
      top: 58%;
      left: 14%;
    }
    .imm {
      top: 58%;
      right: 20%;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .im {
      top: 53%;
      right: 30%;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  .feature-background {
    height: auto;
    .feature-top {
      .top-content {
        h1 {
          font-size: 45px !important;
        }
      }
    }
    .feature-down {
      flex-wrap: wrap;
      max-width: 100%;
    }
  }
  .about-section {
    .about-menu-top {
      @include flex-wra();
    }
    .about-menu-down {
      @include flex-wra();
      max-width: 100%;
      .down-flex-b {
        @include flex-wra();
        max-width: 100%;
      }
    }
  }
  .service-section {
    .service-section-top {
      p {
        font-size: 40px !important;
        // max-width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 18px !important;
      }
    }
    .service-section-down {
      .main-box {
        .card-box {
          flex-wrap: wrap !important;
          display: flex;
          align-items: center;
          justify-content: center;
          // flex-direction: column;
          // .mycard{
          //   max-width: 100% !important;
          // }
        }
        .card-box-b {
          flex-wrap: wrap !important;
          // flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          // .mycard{
          //   max-width: 100% !important;
          // }
        }
      }
    }
  }
  .branding-menu {
    flex-wrap: wrap;

    .mylogo {
      max-width: 100% !important;
      // width: 400px !important;
      // height: 400px !important;
    }
    .text-box {
      margin: auto;
    }
    p {
      font-size: 40px !important;
      text-align: center;
    }
    h4 {
      font-size: 20px !important;
      text-align: center !important;
      // line-height: 0 !important;
      // max-width: 100% !important;
    }
  }
  .portfolio-background{
    .top-box{
      margin: auto ;
    }
    .port-top-flex-b{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap !important;
      max-width: 100%;
    }
    .port-top-flex{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: wrap;
       .port-top-flex-a{
        text-align: center !important;
        // h1{
        //   font-size: 40px !important;
        // }
      }
    }
  }
  .testi-background{
    position: relative !important;
  
        .image{
          max-width: 100% !important;
        }
      .round{
        top: 50% !important;
        max-width:100% !important;
        .round-box{
          width: 160px !important;
          height: 160px !important;
        }
      }
      .testi-menu-content{
        h1{
          font-size: 40px !important;
          // max-width: 100%;
        }
        p{
          font-size: 23px !important;
        }
        h6{
          font-size: 20px !important;
        }
        .flex-content{
 
      .flex-a{
        flex-wrap: wrap !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        }
      }
  }
  .blog-top{
    flex-wrap: wrap !important;
    // gap: 1em !important;
 
    .blog-top-content-a{
     
      h1{
        font-size: 38px !important;
      }
    }
  }
    .blog-down{
      .card-flex{
        flex-wrap:  wrap !important;
        // // max-width: 100% !important;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        .card{
          margin: auto;
          .card-body{
            a{
              font-size: 23px !important;
            }
            p{
              font-size: 17px !important;
            }
            .card-main-box{
              display: flex;
              align-items: center;
              gap: 3em !important;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }  .call-content-menu{
    .call-content{
      h1{
        font-size: 30px !important;
      }
    }
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .menu-sec-content{
    h1{
      font-size: 60px !important;
      text-align: center;
      margin-bottom: 18px;
    }
    .flex-main {
     a{
      font-size: 15px;
     }
    }
  }
  .navbar {
    display: none;
    .navbar-menu {
      display: none;
    }
  }
  .top-nav {
    display: none;
  }

  .banner-background {
    height: auto;
    background-attachment: none;
    .banner-menu {
      flex-wrap: wrap;
      .banner-menu-left {
        .flex-text {
          span {
            font-size: 20px;
          }
        }
        .flex-cont {
          .h-line {
            height: 90px;
          }
          .content-box {
            h1 {
              font-size: 45px;
            }
          }
        }
        p {
          font-size: 25px !important;
        }
      }
      .banner-menu-right {
        .main-logo {
          img {
            max-width: 100%;
          }
        }
      }
    }
    .imgg {
      display: none;
    }
    .imc {
      top: 58%;
      left: 14%;
    }
    .imm {
      top: 58%;
      right: 20%;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .im {
      top: 53%;
      right: 30%;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
  .feature-background {
    height: auto;
    .feature-top {
      .top-content {
        h1 {
          font-size: 50px !important;
        }
      }
    }
    .feature-down {
      flex-wrap: wrap;
      max-width: 100%;
    }
  }
  .about-section {
    .about-menu-top {
      @include flex-wra();
    }
    .about-menu-down {
      @include flex-wra();
      max-width: 100%;
      .down-flex-b {
        @include flex-wra();
        max-width: 100%;
      }
    }
  }
  .service-section {
    .service-section-top {
      p {
        font-size: 45px !important;
        // max-width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 19px !important;
      }
    }
    .service-section-down {
      .main-box {
        .card-box {
          flex-wrap: wrap !important;
          display: flex;
          align-items: center;
          justify-content: center;
          // flex-direction: column;
          // .mycard{
          //   max-width: 100% !important;
          // }
        }
        .card-box-b {
          flex-wrap: wrap !important;
          // flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          // .mycard{
          //   max-width: 100% !important;
          // }
        }
      }
    }
  }
  .branding-menu {
    flex-wrap: wrap;

    .mylogo {
      max-width: 100% !important;
      // width: 400px !important;
      // height: 400px !important;
    }
    .text-box {
      margin: auto;
    }
    p {
      font-size: 40px !important;
      text-align: center;
    }
    h4 {
      font-size: 20px !important;
      text-align: center !important;
      // line-height: 0 !important;
      // max-width: 100% !important;
    }
  }
  .portfolio-background{
    .top-box{
      margin: auto ;
    }
    .port-top-flex-b{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap !important;
      max-width: 100%;
    }
    .port-top-flex{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: wrap;
       .port-top-flex-a{
        text-align: center !important;
        // h1{
        //   font-size: 40px !important;
        // }
      }
    }
  }
  .testi-background{
    position: relative !important;
  
        .image{
          max-width: 100% !important;
        }
      .round{
        top: 50% !important;
        max-width:100% !important;
        .round-box{
          width: 160px !important;
          height: 160px !important;
        }
      }
      .testi-menu-content{
        h1{
          font-size: 45px !important;
          // max-width: 100%;
        }
        p{
          font-size: 25px !important;
        }
        h6{
          font-size: 21px !important;
        }
        .flex-content{
     
      .flex-a{
        flex-wrap: wrap !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        }
      }
      // .test-menu{
      //   flex-wrap: nowrap !important;
      // }
  }

  .blog-top{
    flex-wrap: wrap !important;
    // gap: 1em !important;
 
    .blog-top-content-a{
     
      h1{
        font-size: 38px !important;
      }
    }
  }
    .blog-down{
      .card-flex{
        flex-wrap:  wrap !important;
        // // max-width: 100% !important;
        // display: flex;
        // align-items: center;
        // justify-content: center;

        .card{
          margin: auto;
          .card-body{
            a{
              font-size: 23px !important;
            }
            p{
              font-size: 17px !important;
            }
            .card-main-box{
              display: flex;
              align-items: center;
              gap: 3em !important;
              margin-top: 20px;
            }
          }
        }
      }
    }
  }  .call-content-menu{
    .call-content{
      h1{
        font-size: 40px !important;
      }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1367px) {
  .menu-sec-content{
    h1{
      font-size: 60px !important;
      text-align: center;
      margin-bottom: 18px;
    }
    .flex-main {
     a{
      font-size: 15px;
     }
    }
  }
  .navbar-mobile {
    display: none !important;
  }

  .banner-background {
    height: auto;
    background-attachment: none;
    .banner-menu {
      // flex-wrap: wrap;
      gap: 5em;
      .banner-menu-left {
        .flex-text {
          span {
            font-size: 20px;
          }
        }
        .flex-cont {
          .h-line {
            height: 90px;
          }
          .content-box {
            h1 {
              font-size: 37px;
            }
          }
        }
        p {
          font-size: 20px !important;
        }
      }
      .banner-menu-right {
        .main-logo {
          img {
            max-width: 100%;
          }
        }
      }
    }
    .imgg {
      display: none;
    }
    .imc {
      top: 20%;
      left: 50%;
    }
    .imm {
      top: 30%;
      right: 20%;
      img {
        width: 70px;
        height: 70px;
      }
    }
    .im {
      top: 40%;
      right: 30%;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .about-section {
    .about-menu-top {
      // @include flex-wra();
      .top-img {
        .inn {
          img {
            max-width: 100% !important;
          }
        }
        .inn {
          img {
            display: none !important;
          }
        }
        .mid {
          img {
            width: 280px !important;
            height: 280px !important;
          }
        }
        #vv {
          max-width: 100% !important;
        }
      }
      .text {
        p {
          font-size: 45px !important;
        }
      }
      .flex-content {
        .h-line {
          height: 90px !important;
        }
        p {
          font-size: 14px !important;
          line-height: 1.7 !important;
        }
      }
    }
    .last-box {
      display: flex !important;
      align-items: center !important;
      gap: 2em !important;
      // flex-wrap: wrap !important;
    }
    // .about-menu-down{
    //   @include flex-wra();
    //   max-width: 100%;
    //   .down-flex-b{
    //   @include flex-wra();
    //   max-width: 100%;

    //   }
    // }
  }
  .service-section {
    .service-section-top {
      p {
        font-size: 45px !important;
        // max-width: 100%;
        text-align: center;
      }
      h3 {
        font-size: 19px !important;
      }
    }
    .service-section-down {
      .main-box {
        .card-box {
          flex-wrap: wrap !important;
          display: flex;
          align-items: center;
          justify-content: center;
          // flex-direction: column;
          // .mycard{
          //   max-width: 100% !important;
          // }
        }
        .card-box-b {
          flex-wrap: wrap !important;
          // flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          // .mycard{
          //   max-width: 100% !important;
          // }
        }
      }
    }
  }
  .branding-menu {
    // flex-wrap: wrap;

    .mylogo {
      max-width: 100% !important;
      // width: 400px !important;
      // height: 400px !important;
    }
    .text-box {
      margin: auto;
    }
    p {
      font-size: 40px !important;
      text-align: center;
    }
    h4 {
      font-size: 20px !important;
      text-align: center !important;
      // line-height: 0 !important;
      // max-width: 100% !important;
    }
  }
  .portfolio-background{
    .top-box{
      margin: auto ;
    }
    .port-top-flex-b{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap !important;
      max-width: 100%;
    }
    .port-top-flex{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-wrap: wrap;
       .port-top-flex-a{
        text-align: center !important;
        // h1{
        //   font-size: 40px !important;
        // }
      }
    }
  }
  .testi-background{
    position: relative !important;
  
        .image{
          max-width: 100% !important;
        }
      .round{
        top: 93% !important;
        max-width:100% !important;
        .round-box{
          width: 160px !important;
          height: 160px !important;
        }
      }
      .testi-menu-content{

        h1{
          font-size: 30px !important;
          // max-width: 100%;
        }
        p{
          font-size: 20px !important;
        }
        h6{
          font-size: 18px !important;
        }
        .flex-content{
 
      .flex-a{
        // flex-wrap: wrap !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        }
      }
         .test-menu{
        flex-wrap: nowrap !important;
      }
  }
  .blog-down{
    .card-flex{
      flex-wrap:  wrap !important;
      // // max-width: 100% !important;
      // display: flex;
      // align-items: center;
      // justify-content: center;

      // .card{
      //   margin: auto;
      //   .card-body{
      //     a{
      //       font-size: 23px !important;
      //     }
      //     p{
      //       font-size: 17px !important;
      //     }
      //     .card-main-box{
      //       display: flex;
      //       align-items: center;
      //       gap: 3em !important;
      //       margin-top: 20px;
      //     }
      //   }
      // }
    }
  }
}

@media (min-width: 1367px) and (max-width: 1440px) {
  .navbar-mobile {
    display: none;
  }
  .testi-background{
    position: relative !important;
  
        .image{
          max-width: 100% !important;
        }
      .round{
        top: 93% !important;
        max-width:100% !important;
        .round-box{
          width: 160px !important;
          height: 160px !important;
        }
      }
      .testi-menu-content{

        h1{
          font-size: 30px !important;
          // max-width: 100%;
        }
        p{
          font-size: 20px !important;
        }
        h6{
          font-size: 18px !important;
        }
        .flex-content{
 
      .flex-a{
        // flex-wrap: wrap !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        }
      }
         .test-menu{
        flex-wrap: nowrap !important;
      }
  }
  
}

@media (min-width: 1440px) and (max-width: 1680px) {
  .navbar-mobile {
    display: none;
  }
  .testi-background{
    position: relative !important;
  
        .image{
          max-width: 100% !important;
        }
      .round{
        top: 93% !important;
        max-width:100% !important;
        .round-box{
          width: 160px !important;
          height: 160px !important;
        }
      }
      .testi-menu-content{

        h1{
          font-size: 35px !important;
          // max-width: 100%;
        }
        p{
          font-size: 22px !important;
        }
        h6{
          font-size: 18px !important;
        }
        .flex-content{
 
      .flex-a{
        // flex-wrap: wrap !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        }
      }
         .test-menu{
        flex-wrap: nowrap !important;
        flex-direction: row !important;
      }
  }
}

@media (min-width: 1680px) and (max-width: 1920px) {
  .navbar-mobile {
    display: none;
  }
  .testi-background{
    position: relative !important;
  
        .image{
          max-width: 100% !important;
        }
      .round{
        top: 93% !important;
        max-width:100% !important;
        .round-box{
          width: 160px !important;
          height: 160px !important;
        }
      }
      .testi-menu-content{

        h1{
          font-size: 40px !important;
          // max-width: 100%;
        }
        p{
          font-size: 20px !important;
        }
        h6{
          font-size: 18px !important;
        }
        .flex-content{
 
      .flex-a{
        // flex-wrap: wrap !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }
        }
      }
         .test-menu{
        flex-wrap: nowrap !important;
        flex-direction: row !important;
      }
  }
}

@media (min-width: 1920px) {
  .navbar-mobile {
    display: none;
  }
}
