@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
.top-section {
  height: 60px;
  background: #0c5adb;
}
.top-section .top-section-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.top-section .top-section-menu .top-left-menu {
  display: flex;
  align-items: center;
  gap: 1em;
}
.top-section .top-section-menu .top-left-menu a {
  text-decoration: none;
  color: #e8e8e8;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5em;
  transition: all 0.3s ease-in;
}
.top-section .top-section-menu .top-left-menu a .myicon {
  transition: all 0.3s ease-in;
}
.top-section .top-section-menu .top-left-menu a:hover {
  color: #fff;
}
.top-section .top-section-menu .top-left-menu a:hover .myicon {
  color: #fff;
}
.top-section .top-section-menu .top-right-menu {
  display: flex;
  align-items: center;
  gap: 1em;
}
.top-section .top-section-menu .top-right-menu .social {
  color: #e8e8e8;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.top-section .top-section-menu .top-right-menu .social:hover {
  color: #fff;
}

.navbar {
  height: 90px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}
.navbar .navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.navbar .navbar-menu .nav-logo img {
  cursor: pointer;
}
.navbar .navbar-menu .nav-right-box {
  display: flex;
  align-items: center;
  gap: 2em;
}
.navbar .navbar-menu .nav-right-box .box-links {
  display: flex;
  align-items: center;
  gap: 1em;
}
.navbar .navbar-menu .nav-right-box .box-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  color: #232323;
  transition: all 0.3s ease;
  font-weight: 600;
}
.navbar .navbar-menu .nav-right-box .box-links a .myicon {
  transition: all 0.2s ease-in;
}
.navbar .navbar-menu .nav-right-box .box-links a:hover {
  color: #0c5adb;
}
.navbar .navbar-menu .nav-right-box .box-links a:hover .myicon {
  color: #0c5adb;
  transform: rotate(135deg);
}
.navbar .navbar-menu .nav-right-box .box-btn .mybtn {
  width: 200px;
  height: 50px;
  background: #0c5adb;
  border-radius: 1.5rem 1.5rem;
  transition: all 0.4s ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.navbar .navbar-menu .nav-right-box .box-btn .mybtn::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #007bff;
  width: 0%;
  border-radius: 1.5rem 1.5rem;
  transition: all 0.4s ease-in;
}
.navbar .navbar-menu .nav-right-box .box-btn .mybtn:hover::before {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 1.5rem;
}
.navbar .navbar-menu .nav-right-box .box-btn .mybtn span {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-background {
  background: url(../assets/image/hero-bg.png);
  height: 80vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-background .imgg {
  position: absolute;
  left: 5%;
  top: 20%;
}
.banner-background .imgg img {
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    transform: rotate(1turn);
  }
}
.banner-background .banner-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.banner-background .banner-menu .banner-menu-left .flex-text {
  display: flex;
  align-items: center;
  gap: 2em;
}
.banner-background .banner-menu .banner-menu-left .flex-text img {
  width: 30px;
  height: 30px;
}
.banner-background .banner-menu .banner-menu-left .flex-text span {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
}
.banner-background .banner-menu .banner-menu-left .flex-cont {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 50px;
}
.banner-background .banner-menu .banner-menu-left .flex-cont .h-line {
  width: 8px;
  height: 180px;
  background: #37bbff;
}
.banner-background .banner-menu .banner-menu-left .flex-cont .content-box h1 {
  font-size: 80px;
  color: #fff;
  font-weight: 800;
}
.banner-background .banner-menu .banner-menu-left p {
  margin-top: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  left: 1;
}
.banner-background .banner-menu .banner-menu-left .btn {
  width: 210px;
  height: 70px;
  background: #37bbff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  gap: 0.5em;
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.banner-background .banner-menu .banner-menu-left .btn::after {
  content: "";
  left: 0;
  bottom: 0;
  background: #00247e;
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: -1;
  width: 0%;
  height: 10%;
  border-radius: 5px;
}
.banner-background .banner-menu .banner-menu-left .btn:hover::after {
  width: 100%;
  height: 100%;
}
.banner-background .banner-menu .banner-menu-left .btn span {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.banner-background .banner-menu .banner-menu-left .btn .myicon {
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.banner-background .im {
  position: absolute;
  right: 20%;
  top: 15%;
}
.banner-background .im img {
  animation: up 4s linear infinite;
}
@keyframes up {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.banner-background .imn {
  position: absolute;
  right: 10%;
  top: 50%;
}
.banner-background .imn img {
  animation: up 4s linear infinite;
}
@keyframes up {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.banner-background .imm {
  position: absolute;
  right: 11%;
  top: 25%;
}
.banner-background .imm img {
  animation: up 4s linear infinite;
}
@keyframes up {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.banner-background .ikk {
  position: absolute;
  right: 47%;
  top: 58%;
}
.banner-background .ikk img {
  animation: up 4s linear infinite;
}
@keyframes up {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.banner-background .imc {
  position: absolute;
  right: 35%;
  top: 15%;
}
.banner-background .imc img {
  animation: rot 10s linear infinite;
}
@keyframes rot {
  to {
    transform: rotate(1turn);
  }
}

.feature-background {
  height: 60%;
  padding-top: 100px;
  padding-bottom: 100px;
}
.feature-background .feature-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-background .feature-top .top-content .box {
  width: 200px;
  height: 40px;
  background: #fff;
  box-shadow: 0px 5px 5px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c5adb;
  font-size: 20px;
  font-weight: 700;
  margin: auto;
}
.feature-background .feature-top .top-content h1 {
  color: black;
  font-size: 60px;
  font-weight: 700;
  margin-top: 30px;
}
.feature-background .feature-top .top-content h1 span {
  color: #0c5adb;
}
.feature-background .feature-down {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  padding-top: 60px;
}
.feature-background .feature-down .card {
  width: 570px;
  height: 260px;
  background: #e5eeff;
  padding: 20px;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-background .feature-down .card::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  background: #0c5adb;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  width: 1%;
  height: 100%;
}
.feature-background .feature-down .card:hover::after {
  width: 100%;
  height: 100%;
}
.feature-background .feature-down .card:hover .card-content h1,
.feature-background .feature-down .card p {
  color: #fff;
}
.feature-background .feature-down .card:hover .card-content p {
  color: #fff;
}
.feature-background .feature-down .card:hover .card-content .card-btn {
  border: 1px solid #fff;
}
.feature-background .feature-down .card .card-content {
  transition: all 0.3s ease-in-out;
}
.feature-background .feature-down .card .card-content h1 {
  color: #232323;
  font-size: 30px;
  font-weight: 700;
}
.feature-background .feature-down .card .card-content p {
  color: #232323;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  line-height: 1.5;
}
.feature-background .feature-down .card .card-content .card-btn {
  width: 200px;
  height: 60px;
  background: linear-gradient(to left, #2475fc, #1129b9);
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.service-section {
  height: auto;
  background: url(../assets//image/service-bg.png);
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.service-section .service-section-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.service-section .service-section-top .service-bx {
  width: 200px;
  height: 40px;
  background: white;
  box-shadow: 0px 10px 20px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.service-section .service-section-top .service-bx span {
  letter-spacing: 2px;
  color: #0c5adb;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
.service-section .service-section-top p {
  font-size: 50px;
  font-weight: 600;
  color: #000;
  margin-top: 35px;
  margin-bottom: 20px;
}
.service-section .service-section-top p span {
  color: #0c5adb;
}
.service-section .service-section-top h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
.service-section .service-section-down {
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-section .service-section-down .main-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}
.service-section .service-section-down .main-box .card-box {
  display: flex;
  align-items: center;
  gap: 1em;
}
.service-section .service-section-down .main-box .card-box .mycard {
  width: 340px;
  height: 300px;
  background: white;
  box-shadow: 0px 10px 18px #ccc;
  padding: 40px;
  position: relative;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  z-index: 1;
}
.service-section .service-section-down .main-box .card-box .mycard::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  background: url(../assets//image/call-do-bg.png);
  width: 1%;
  height: 100%;
  border-radius: 5px;
}
.service-section .service-section-down .main-box .card-box .mycard:hover {
  transform: translateY(-20px);
}
.service-section .service-section-down .main-box .card-box .mycard:hover::after {
  width: 100%;
  height: 100%;
}
.service-section .service-section-down .main-box .card-box .mycard:hover .card-flex p {
  color: white;
}
.service-section .service-section-down .main-box .card-box .mycard:hover h3, .service-section .service-section-down .main-box .card-box .mycard h4 {
  color: white;
}
.service-section .service-section-down .main-box .card-box .mycard:hover h4 {
  color: white;
}
.service-section .service-section-down .main-box .card-box .mycard:hover .btn h1 {
  color: white;
}
.service-section .service-section-down .main-box .card-box .mycard:hover .btn .i #pen {
  color: white !important;
}
.service-section .service-section-down .main-box .card-box .mycard .card-flex {
  display: flex;
  align-items: center;
  gap: 1em;
}
.service-section .service-section-down .main-box .card-box .mycard .card-flex p {
  color: #0c5adb;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}
.service-section .service-section-down .main-box .card-box .mycard h3 {
  font-size: 30px;
  color: #000;
  font-weight: 500;
  margin-top: 30px;
}
.service-section .service-section-down .main-box .card-box .mycard h4 {
  color: #616161;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 1.5;
  margin-top: 30px;
}
.service-section .service-section-down .main-box .card-box .mycard .btn {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 0.5em;
  cursor: pointer;
}
.service-section .service-section-down .main-box .card-box .mycard .btn h1 {
  font-size: 20px;
  color: #0c5adb;
  text-decoration: underline;
  text-transform: capitalize;
}
.service-section .service-section-down .main-box .card-box-b {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 50px;
}
.service-section .service-section-down .main-box .card-box-b .mycard {
  width: 340px;
  height: 300px;
  background: white;
  box-shadow: 0px 10px 18px #ccc;
  padding: 40px;
  position: relative;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  z-index: 1;
}
.service-section .service-section-down .main-box .card-box-b .mycard::after {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  background: url(../assets//image/call-do-bg.png);
  width: 1%;
  height: 100%;
  border-radius: 5px;
}
.service-section .service-section-down .main-box .card-box-b .mycard:hover {
  transform: translateY(-20px);
}
.service-section .service-section-down .main-box .card-box-b .mycard:hover::after {
  width: 100%;
  height: 100%;
}
.service-section .service-section-down .main-box .card-box-b .mycard:hover .card-flex p {
  color: white;
}
.service-section .service-section-down .main-box .card-box-b .mycard:hover h3, .service-section .service-section-down .main-box .card-box-b .mycard h4 {
  color: white;
}
.service-section .service-section-down .main-box .card-box-b .mycard:hover h4 {
  color: white;
}
.service-section .service-section-down .main-box .card-box-b .mycard:hover .btn h1 {
  color: white;
}
.service-section .service-section-down .main-box .card-box-b .mycard:hover .btn .i #pen {
  color: white !important;
}
.service-section .service-section-down .main-box .card-box-b .mycard .card-flex {
  display: flex;
  align-items: center;
  gap: 1em;
}
.service-section .service-section-down .main-box .card-box-b .mycard .card-flex p {
  color: #0c5adb;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}
.service-section .service-section-down .main-box .card-box-b .mycard h3 {
  font-size: 30px;
  color: #000;
  font-weight: 500;
  margin-top: 30px;
}
.service-section .service-section-down .main-box .card-box-b .mycard h4 {
  color: #616161;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 1.5;
  margin-top: 30px;
}
.service-section .service-section-down .main-box .card-box-b .mycard .btn {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 0.5em;
  cursor: pointer;
}
.service-section .service-section-down .main-box .card-box-b .mycard .btn h1 {
  font-size: 20px;
  color: #0c5adb;
  text-decoration: underline;
  text-transform: capitalize;
}

.branding-Section {
  height: auto;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.branding-Section .branding-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7em;
}
.branding-Section .branding-menu .branding-rigth .image-page .mylogo {
  width: 700px !important;
  height: 700px !important;
}
.branding-Section .branding-menu .branding-left .text-box {
  width: 200px;
  height: 50px;
  box-shadow: 0px 10px 20px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.branding-Section .branding-menu .branding-left .text-box span {
  letter-spacing: 0;
  color: #0c5adb;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.branding-Section .branding-menu .branding-left p {
  font-size: 50px;
  color: #000;
  font-weight: 600;
  margin-top: 40px;
}
.branding-Section .branding-menu .branding-left p span {
  color: #0c5adb;
}
.branding-Section .branding-menu .branding-left h4 {
  font-size: 22px;
  color: #616161;
  font-weight: 400;
  margin-top: 25px;
  line-height: 1.5;
}
.branding-Section .branding-menu .branding-left .edit {
  margin-top: 40px;
}
.branding-Section .branding-menu .branding-left .edit .edit-flex {
  display: flex;
  align-items: center;
  gap: 18.5em;
}
.branding-Section .branding-menu .branding-left .edit .edit-flex span {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.branding-Section .branding-menu .branding-left .edit .edit-flex h1 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.branding-Section .branding-menu .branding-left .edit .edit-line {
  height: 10px;
  width: 600px;
  background: #ccc;
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.branding-Section .branding-menu .branding-left .edit .edit-line::after {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: rgb(22, 181, 151);
  height: 100%;
  width: 65%;
  border-radius: 5px;
}
.branding-Section .branding-menu .branding-left .edit-a {
  margin-top: 40px;
}
.branding-Section .branding-menu .branding-left .edit-a .edit-flex {
  display: flex;
  align-items: center;
  gap: 28.3em;
}
.branding-Section .branding-menu .branding-left .edit-a .edit-flex span {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.branding-Section .branding-menu .branding-left .edit-a .edit-flex h1 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.branding-Section .branding-menu .branding-left .edit-a .edit-line-a {
  height: 10px;
  width: 600px;
  background: #ccc;
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.branding-Section .branding-menu .branding-left .edit-a .edit-line-a::after {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: #0C5ADB !important;
  border-radius: 5px;
  height: 100%;
  width: 90%;
}
.branding-Section .branding-menu .branding-left .edit-c {
  margin-top: 40px;
}
.branding-Section .branding-menu .branding-left .edit-c .edit-flex {
  display: flex;
  align-items: center;
  gap: 25em;
}
.branding-Section .branding-menu .branding-left .edit-c .edit-flex span {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.branding-Section .branding-menu .branding-left .edit-c .edit-flex h1 {
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.branding-Section .branding-menu .branding-left .edit-c .edit-line-c {
  height: 10px;
  width: 600px;
  background: #ccc;
  margin-top: 30px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.branding-Section .branding-menu .branding-left .edit-c .edit-line-c::after {
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: #FF6A33 !important;
  height: 100%;
  width: 80%;
  border-radius: 5px;
}

.call-background {
  background: url(../assets//image/call-do-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 30vh;
  padding-top: 60px;
  padding-bottom: 60px;
}
.call-background .call-content-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.call-background .call-content-menu .call-content h1 {
  font-size: 50px;
  color: #fff;
  line-height: 1.4;
  font-weight: 800;
  text-align: center;
}
.call-background .call-content-menu .call-content .btn {
  background: #34bbff;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  color: #fff;
  margin-top: 45px !important;
  width: 230px;
  height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  cursor: pointer;
}
.call-background .call-content-menu .call-content .btn::after {
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
  background: #00247e;
  width: 0%;
  height: 10%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.call-background .call-content-menu .call-content .btn:hover::after {
  width: 100%;
  height: 100%;
}
.call-background .call-content-menu .call-content .btn span {
  font-size: 20px;
  text-transform: capitalize;
}
.call-background .image-box-a {
  position: absolute;
  right: 16%;
  top: 25%;
}
.call-background .image-box-a .dimon {
  width: 70px !important;
  height: 70px !important;
  animation: turn 5s linear infinite;
}
@keyframes turn {
  to {
    transform: rotate(1turn);
  }
}
.call-background .image-box-b {
  position: absolute;
  left: 0%;
  top: 55%;
}
.call-background .image-box-b .ma {
  width: 285px !important;
  height: 256px !important;
  z-index: 999;
  position: relative;
  animation: top 5s linear infinite;
}
@keyframes top {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.call-background .image-box-c {
  position: absolute;
  right: 3%;
  top: 0%;
}
.call-background .image-box-c .rok {
  width: 100px !important;
  height: 190px !important;
  animation: top 5.2s linear infinite;
}
@keyframes top {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.call-background .image-box-d {
  position: absolute;
  left: 19%;
  top: 40%;
}
.call-background .image-box-d .ring {
  width: 25px !important;
  height: 25px !important;
  animation: top 4.9s linear infinite;
}
@keyframes top {
  0% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
.call-background .image-box-e {
  position: absolute;
  right: 25%;
  top: 60%;
}
.call-background .image-box-e .bal {
  width: 15px !important;
  height: 15px !important;
  animation: top 5.1s linear infinite;
}
@keyframes top {
  0% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-30px);
  }
}

.portfolio-background {
  height: auto;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.portfolio-background .portfolio-top {
  display: flex;
  align-items: center;
}
.portfolio-background .portfolio-top .port-top-content .top-box {
  background-color: #ffffff;
  width: 200px;
  height: 42px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-background .portfolio-top .port-top-content .top-box span {
  letter-spacing: 0;
  color: #0c5adb;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex {
  display: flex;
  align-items: center;
  gap: 13em;
  margin-top: 50px;
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex .port-top-flex-a h1 {
  font-size: 50px !important;
  letter-spacing: 0;
  font-weight: 500;
  color: #232323;
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex .port-top-flex-a h1 span {
  color: #0c5adb !important;
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex .port-top-flex-b {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: -40px;
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex .port-top-flex-b .port-card {
  font-size: 16px;
  line-height: 1;
  transition: all 0.3s ease;
  cursor: pointer;
  width: auto;
  padding: 13px;
  height: 30px;
  letter-spacing: 2px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px #ccc;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex .port-top-flex-b .port-card:hover {
  color: #ffffff;
  background: linear-gradient(to left, #2475FC, #1129B9);
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex .port-top-flex-b .port-card:hover span {
  color: #fff;
}
.portfolio-background .portfolio-top .port-top-content .port-top-flex .port-top-flex-b .port-card span {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  color: #616161;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
}/*# sourceMappingURL=style.css.map */